

* {
    margin: 0;
    padding: 0;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .modal button {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal button:hover {
    background-color: #45a049;
  }
  

.bodyy {
    font-family: 'Arial', sans-serif;
    /* line-height: 1.3; */
    color: var(--text-color);
    background-color: var(--background-color);
    display: flex;
    width: 80vmax;
    align-items: center;
}

.containerr {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.212);
    background-color: whitesmoke;
}

.hh {
    text-align: center;
    margin-bottom: 27px;
}

.lb{
    font-weight: bold;
    margin-bottom: 10px;
    
    display: block;
    
}

.inpu{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
}
.inpu:hover{
    background-color: #ddd;
}

.tx {
    resize: vertical;
    min-height: 100px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
.tx:hover{
    background-color: #ddd;

}

.butn {
    background-color: black;
    color:white;
    padding: 12px 20px;
    /* border: none; */
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.butn:hover {
    background-color: rgba(0, 0, 0, 0.861);
    color: white;
}

.form-groupp {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
/* 
@media screen and (min-width: 768px) {
    .bodyy {
        padding: 40px;
    }

    .frm {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .full-width {
        grid-column: span 2;
    }
} */