* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.db-main {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --background-color: whitesmoke;
    --sidebar-background: #34495e;
    --card-background: #ffffff;
    --text-color: #333333;
    background-image: url('../assets/foodblack3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Ensures the image stays centered */
}


.main-content {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.summary-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px; /* Adds space between the cards */
    border-radius: 8px;
}

.card {
    background-color: var(--card-background);
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
    margin-top: 20px;
}

.card h3 {
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
}

.recent-rentals {
    background-color: var(--card-background);
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 2rem;
    overflow-x: auto;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .db-main {
        flex-direction: column;
    }

    .summary-cards {
        flex-direction: column; /* Stack cards vertically on small screens */
        align-items: center; /* Center the cards */
        gap: 10px; /* Smaller gap for small screens */
    }

    .card {
        width: 80%; /* Make cards smaller on smaller screens */
    }
}
