.whole {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  margin-top: 50px;
  width: 75%;
  /* max-width: 1000px; */
  /* border: 3px solid white; */
  /* Adjust width as per your requirement */
  padding: 20px;

}

.card-container {
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid white;  */
  /* Ensures responsiveness */
  /* justify-content: space-around; */
  gap: 20px;
  /* padding: 20px; */
  padding: 0px;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 250px;
  /* Adjust width of each card */
  transition: transform 0.3s ease;
  /* Animation for hover effect */
}

.card:hover {
  transform: translateY(-5px);
  /* Slight lift on hover */
}

.card img {
  width: 100%;
  /* Ensures the image takes full width of the card */
  height: 200px;
  /* Adjust height as needed */
  object-fit: cover;
  /* Ensures image doesn't stretch */
  border-radius: 12px;
}

.card p {
  margin: 15px 0;
  font-size: 16px;
  color: #444;
  text-shadow: 1px 1px 4px gray;
}

.edit-button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: rgb(255, 101, 6);

  color: white;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
}

.edit-button:hover {
  background-color: white;
  border: 1px solid rgb(255, 101, 6);
  color: rgb(255, 101, 6);

}

.edit-button svg {
  margin-left: 5px;
}