.body-wrap {
    font-family: Arial, sans-serif;
    /* background-color: #f0f0f0; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-container {
    background-color: rgba(0, 0, 0, 0.454);
    padding: 4rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;

}

.H {
    color: white;
    margin-bottom: 1.5rem;
}

.P {
    color: white;
    margin-bottom: 2rem;
}

.logout-button {
    background-color: rgb(169, 9, 9);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #c0392b;
}

/* @media (max-width: 480px) {
    .logout-container {
        padding: 1.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    .logout-button {
        padding: 0.6rem 1.2rem;
        font-size: 0.9rem;
    }
} */